{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block header %}
    <title>FWE - Servers</title>
    <link rel='stylesheet' href="{% static 'inventory/css/styles2.css' %}" type="text/css">
    {% endblock header %}
</head>
<body>
    {% block content2 %}
    {% endblock content2 %}

    {% block javascript %}
    {% endblock javascript %}
    
</body>
</html>