<!DOCTYPE html>
{% extends 'base.html'%}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block header %}
    <title>FWE - Contact</title>
    <link rel="stylesheet" href='{% static "contact/css/styles.css" %}' type="text/css"> 
    {% endblock header %}
</head>
<body>
    {% block content2 %}
    <div class="content-block">
        {% for vendor in vendors %} 
        <div class="items">
            <h1 class="contact-name">{{ vendor.vendor }}</h1>
            <p class="business-name">{{ vendor.vendor_contact }}</p>
            <p class="contact-content">{{ vendor.vendor_address1}}</p>
            <p class="contact-content">{{ vendor.vendor_phone }}</p>
            <p class="btn-ptag"><button  class="edit-btn">Edit</button></p>
        </div>
        {% endfor %}
    </div>
    {% endblock content2 %}    
</body>
</html>